* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heart {
    font-size:100px;

    animation: heartal 2s infinite;
}

@keyframes heartal {
    0% { font-size: 200px;}
    50% {font-size: 1000px;}
    100% {font-size: 200px;}
}





