* {
    margin:0;
    padding: 0;
    box-sizing: 0;
}

.container {
    height: 500px;
    width: 500px;
    background-color:rgb(129, 27, 22) ;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;   căn cho trục main */
    align-items: center;
    flex-wrap: warp;
    align-content: space-around;
}


.item {
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: 2px solid red;

   /* text-align: center; 
    line-height: 100px; */
    display: flex;
    justify-content:center ;
    align-items: center;
}