* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style-type: none;
  }
  
  .header {
    background-color: #30598c;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 62px;
  }
  
  .header-container {
    padding: 0 30px;
    height: 100%;
  }
  
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .sidebar {
    display: flex;
    align-items: center;
  }
  
  .menu .main-menu {
    display: flex;
  }
  
  .menu .main-menu .menu-item {
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 24px;
    text-align: left;
    position: relative;

    height: 62px;
    display: flex;
    align-items: center;
  }

  .sub-menu {
    position: absolute;
    right: 0;
    top: 100%;

    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 4px;

    display: none;
  }

  .menu .main-menu .menu-item:hover {
    color: #c4c4c4;
  }

  .menu .main-menu .menu-item:hover .sub-menu {
    display: block;
  }
  
.sub-menu-item {
    cursor: pointer;
    font-size: 15px;
    padding: 16px;
    text-align: center;
    text-transform: none;
    color: #464646;
}

.sub-menu-item {
    background-color: #c4c4c4;
    color: #fff;
}

  .logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
  }
  
  .avatar {
    margin-left: 24px;
  }
  
  .avatar img {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
  }
  
  /* .cart-count {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.25em 0.4em;
    background-color: #26a69a;
    position: relative;
    top: 0.01rem;
    left: 0.1rem;
  } */
  
  .search {
    position: relative;
    top: 100px;
    left: 510px;
  }
  
  input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .subject {
      position: absolute;
      top: 200px;
      left: 100px;
  }

